a:hover {
  color: #d73c38;
  text-decoration: underline;
}
.main_content {
  border-top: 3px solid #CACACA;
  border-left: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-radius: 5px;
  margin-top: 20px;
}
.main_content_box {
  padding: 20px;
}
.main_content_box .main_content_title {
  font-size: 20px;
  font-weight: bold;
  color: #E33C05;
}
.main_content_box .main_list {
  margin-top: 20px;
}
.main_content_box .main_list .title {
  background-color: #F5F5F5;
}
.main_content_box .main_list .title span:nth-child(1) {
  padding: 20px 10px 20px 20px;
  line-height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}
.main_content_box .main_list .title span:nth-child(2) {
  font-size: 16px;
  color: black;
}
.main_content_box .main_list .Clear {
  zoom: 1;
}
.main_content_box .main_list .Clear:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.main_content_box .main_list .content {
  margin-top: 15px;
}
.main_content_box .main_list .content .col-4 {
  width: 31%;
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}
.main_content_box .main_list .content .col-4 a {
  font-size: 14px;
  cursor: pointer;
  color: #183761;
}
.main_content_box .main_list .content .row {
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
}
